<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Cover Generator</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  </head>
  <body>
    <h1>AI image generator</h1>
    <div id="app"></div>

    <script type="module" src="/src/main.js"></script>
  </body>
</html>

<template>
  <div>
    <form @submit.prevent="submitForm" v-if="!formSubmitted">
      <br />
      <input
        type="text"
        v-model="prompt"
        placeholder="input the prompt"
        required
      />
      <br /><br />
      <button type="submit" class="submit button-3" role="button">
        Submit
      </button>
    </form>

    <div v-if="formSubmitted">
      <hr />
      <p>Prompt Submitted</p>
      <p>prompt: {{ prompt }}</p>
      <div v-if="image">
        <img v-bind:src="photo" />
        <br /><br />
        <a v-bind:href="photo" download>
          <button class="button-3" role="button">Download Image</button>
        </a>
      </div>
      <div v-else>
        <h2>Loading...</h2>
        <img src="Bean Eater.svg" alt="Loading SVG" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      prompt: "",
      formSubmitted: false,
      image: null,
    };
  },

  methods: {
    submitForm: function () {
      this.formSubmitted = true;
      try {
        fetch("http://127.0.0.1:8000/generate_bookcover/" + this.prompt)
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            console.log(data["file"]);
            this.image = data["file"];
          });
      } catch (error) {
        console.log(error);
      }
    },

    //sending prompt to stability api
  },

  computed: {
    photo() {
      return "../generated_images/" + this.image;
    },
  },
};
</script>


<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + TS</title>
  </head>
  <body>
    <script type="module" src="/src/main.ts"></script>
    <div id="app">
      <h1>WebSocket Chat</h1>
      <h2>Your ID: <span id="ws-id"></span></h2>
      <form action="" onsubmit="createRoom(event)">
          <input type="text" id="messageText" autocomplete="off"/>
          <button>Create Room</button>
      </form>
      <ul id='messages'>
      </ul> -->


      <!-- <script>
          function getOrCreateUserCookie() {
              const cookies = document.cookie.split('; ')
              const value = cookies
                  .find(c => c.startsWith("complicitUser="))
                  ?.split('=')[1]
              if (value === undefined) {
                  userId = new Date().getTime();
                  document.cookie = "complicitUser=" + userId
                  return userId
              } 
              return decodeURIComponent(value)
          }

          var clientId = 2//getOrCreateUserCookie();
          console.log(clientId)
          document.querySelector("#ws-id").textContent = clientId;
          var ws = new WebSocket(`ws://localhost:8000/ws`);
          ws.onmessage = function(event) {
              console.log('onmessage')
              var messages = document.getElementById('messages')
              var message = document.createElement('li')
              var content = document.createTextNode(event.data)
              message.appendChild(content)
              messages.appendChild(message)
          };
          function sendMessage(event) {
              var input = document.getElementById("messageText")
              ws.send('{"value": "value","action": "action"}')
              input.value = ''
              event.preventDefault()
          }
          function createRoom(event) {
              console.log('ok bb')
              var input = document.getElementById("messageText")
              ws.send('{"action": "create_room", "room_name": "roomtest"}')
              input.value = ''
              event.preventDefault()
          }
        </script> -->
      </div>
  </body>
</html>
