<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <h2>Your ID: <span id="ws-id"></span></h2>
        <form action="" onsubmit="createRoom(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Create Room</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            function getOrCreateUserCookie() {
                const cookies = document.cookie.split('; ')
                const value = cookies
                    .find(c => c.startsWith("complicitUser="))
                    ?.split('=')[1]
                if (value === undefined) {
                    userId = new Date().getTime();
                    document.cookie = "complicitUser=" + userId
                    return userId
                } 
                return decodeURIComponent(value)
            }

            var clientId = getOrCreateUserCookie();
            console.log(clientId)
            document.querySelector("#ws-id").textContent = clientId;
            var ws = new WebSocket(`ws://localhost:8000/ws/${clientId}`);
            ws.onmessage = function(event) {
                console.log('onmessage')
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send('{"value": "value","action": "action"}')
                input.value = ''
                event.preventDefault()
            }
            function createRoom(event) {
                var input = document.getElementById("messageText")
                ws.send('{"action": "create_room", "room_name": "roomtest"}')
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>